/* start iPad css values*/
body.ipad #jim-mobile { position:relative; top:0px; left:0px; width:934px; height:1352px; margin:auto; }
body.ipad #jim-case { background-image: url("../../../../../images/mobile/ios/ios15/ipad@2x.png"); height:1352px; width:934px; background-size:100% auto; }
body.ipad #jim-mobile #simulation { position: relative; height: 100%; overflow:hidden; }
body.ipad #jim-mobile .ui-page { overflow:hidden; }

/* orientation values */
body.ipad #jim-mobile.landscape { height:934px; width:1352px; }
body.ipad #jim-case{ transform:rotate(0deg); transform-origin:auto; }
body.ipad #jim-case.landscape { top:-3px; left:1px; transform:rotate(-90deg); transform-origin:50% 34.5% 0; }
body.ipad #jim-container{ position: absolute; top: 163px; left: 83px; width: 768px; height: 1024px; }
body.ipad #jim-container.landscape { position: absolute; top: 83px; left: 163px; width: 1024px; height: 768px; }
