@font-face {
  font-family: "Montserrat-Regular_wgt400";
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}
@font-face {
  font-family: "Montserrat-Regular_wgt700";
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Regular.ttf")  format("truetype");
   font-weight : 700;
 
}
@font-face {
  font-family: "Montserrat-Light_wgt300";
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Light.ttf")  format("truetype");
   font-weight : 300;
 
}
@font-face {
  font-family: "Montserrat-SemiBold_wgt600";
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-SemiBold.ttf")  format("truetype");
   font-weight : 600;
 
}
@font-face {
  font-family: "Montserrat-Medium_wgt500";
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Medium.ttf")  format("truetype");
   font-weight : 500;
 
}
@font-face {
  font-family: "Roboto-Regular_wgt400";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}
@font-face {
  font-family: "OpenSans-Regular_wgt400";
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}