#m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 {
  position: absolute;
  width: 60.0px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 span#rtr-Get_it_by_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 span#rtr-Text_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 span#rtr-Text_2_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 span#rtr-Text_3_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 span#rtr-Text_2_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 span#rtr-Text_3_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 span#rtr-Text_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_2 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 {
  position: absolute;
  width: 60.0px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Get_it_by_1 span#rtr-Get_it_by_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
.m-18dfdd79-569e-4803-a627-e7377c729229 #Text_3 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#loadMark-m-18dfdd79-569e-4803-a627-e7377c729229 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-18dfdd79-569e-4803-a627-e7377c729229.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}