#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 {
  position: absolute;
  width: 343.0px;
  min-height: 262.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F4F4F4;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #F4F4F4;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F4F4F4;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #F4F4F4;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 span#rtr-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Product_Info {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Description {
  width: 342.0px;
  height: 263.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Description td.layout {
  padding: 0px 0px 0px 0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Description > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Description .verticalalign {
  vertical-align: top;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 {
  position: absolute;
  width: 342.0px;
  min-height: 263.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 .paddingLayer {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 span#rtr-CHRISSTEVENSON_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Reviews {
  width: 342.0px;
  height: 263.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Reviews td.layout {
  padding: 0px 0px 0px 0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Reviews > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Reviews .verticalalign {
  vertical-align: top;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 {
  position: absolute;
  width: 341.0px;
  min-height: 270.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Light_wgt300',Arial;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 .paddingLayer {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS {
  position: absolute;
  width: 94.0px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt700',Arial;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS .valign {
  vertical-align: top;
  text-align: center;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS span {
  color: #535353;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS span#rtr-REVIEWS_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION {
  position: absolute;
  width: 100.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt700',Arial;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION .valign {
  vertical-align: top;
  text-align: center;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION span {
  color: #535353;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION span#rtr-DESCRIPTION_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION span#rtr-DESCRIPTION_1 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Path_2 {
  position: absolute;
  width: 102.0px;
  height: 4.0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION span#rtr-DESCRIPTION_1 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 .paddingLayer {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Reviews td.layout {
  padding: 0px 0px 0px 0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION span {
  color: #535353;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Reviews {
  width: 342.0px;
  height: 263.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION span#rtr-DESCRIPTION_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Description > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 {
  position: absolute;
  width: 342.0px;
  min-height: 263.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION {
  position: absolute;
  width: 100.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt700',Arial;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 .paddingLayer {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Reviews .verticalalign {
  vertical-align: top;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 {
  position: absolute;
  width: 341.0px;
  min-height: 270.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Light_wgt300',Arial;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Description {
  width: 342.0px;
  height: 263.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 .valign {
  vertical-align: top;
  text-align: left;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #DESCRIPTION .valign {
  vertical-align: top;
  text-align: center;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Paragraph_3 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS span {
  color: #535353;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #F4F4F4;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F4F4F4;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #F4F4F4;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #CHRISSTEVENSON_1 span#rtr-CHRISSTEVENSON_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 span#rtr-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS {
  position: absolute;
  width: 94.0px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt700',Arial;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Product_Info {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Reviews > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Description td.layout {
  padding: 0px 0px 0px 0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Description .verticalalign {
  vertical-align: top;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Path_2 {
  position: absolute;
  width: 102.0px;
  height: 4.0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 {
  position: absolute;
  width: 343.0px;
  min-height: 262.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F4F4F4;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS span#rtr-REVIEWS_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
.m-b6c9522a-9815-4308-9d10-0fc53d52c801 #REVIEWS .valign {
  vertical-align: top;
  text-align: center;
}
#loadMark-m-b6c9522a-9815-4308-9d10-0fc53d52c801 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-b6c9522a-9815-4308-9d10-0fc53d52c801.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}