#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb > #alignmentBox {
  position: relative;
  max-width: 1024.0px;
  max-height: 768.0px;
  width: 100%;
  height: 100%;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_1 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_2 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_3 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_3 span#rtr-t-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_4 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_4 span#rtr-t-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_5 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_5 span#rtr-t-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_6 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_6 span#rtr-t-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_7 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_7 span#rtr-t-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_8 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_8 span#rtr-t-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_9 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_9 span#rtr-t-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_10 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_10 span#rtr-t-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_11 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_11 span#rtr-t-Rectangle_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_12 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_12 span#rtr-t-Rectangle_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_13 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_13 span#rtr-t-Rectangle_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_14 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_14 span#rtr-t-Rectangle_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_15 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_15 span#rtr-t-Rectangle_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_16 {
  position: absolute;
  width: 40.0px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_16 > .backgroundLayer > .colorLayer {
  background-color: #FFE5E5;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb #t-Rectangle_16 span#rtr-t-Rectangle_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#t-36ea9244-cf66-4f1d-844f-ab9786cccbfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}