#t-662ab3f7-67d4-4a0d-a75d-a99b24e3ed90 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#t-662ab3f7-67d4-4a0d-a75d-a99b24e3ed90 > #alignmentBox {
  position: relative;
}
#t-662ab3f7-67d4-4a0d-a75d-a99b24e3ed90 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}