#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1366.0px;
  max-height: 768.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  position: absolute;
  width: 1024.0px;
  min-height: 715.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-topGorup {
  z-index: 100;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_28 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-productsCounter .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-productsCounter .content {
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-productsCounter {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productsCounter {
  width: 18.0px;
  height: 18.0px;
  min-height: 18.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-productsCounter > .backgroundLayer > .colorLayer {
  background-color: #7250FF;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-productsCounter .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-productsCounter span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-productsCounter span#rtr-t-productsCounter_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_13 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_1 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_3 {
  position: absolute;
  width: 2.0px;
  height: 32.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Hotspot_2 {
  position: absolute;
  width: 50.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-topGorup > * {
  z-index: 100;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCart {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList {
  width: 651.0px;
  height: 454.0px;
  filter:  drop-shadow(-0.0px -0.0px 20px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList td.layout {
  padding: 30px 17px 12px 17px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList .sCartList > *:last-child {
  margin-bottom: 0;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-sCartList .sCartList > * {
  margin-bottom: 20px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-xClose_1 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Mycart_2 {
  position: absolute;
  width: 99.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Mycart_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Mycart_2 .valign {
  vertical-align: top;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Mycart_2 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 14.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Mycart_2 span#rtr-t-Mycart_2_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 14.0pt;
}
 div.relativeLayoutWrapper.t-Top {
  transform: translate(-34.0px, -27.0px);
  width: 577.0px;
  height: 28.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productListContainer {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Container {
  width: 575.0px;
  height: 101.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Container td.layout {
  padding: 0px 0px 0px 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Container > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Container .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList {
  width: 575.0px;
  height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList tr.odd {
  background-color: #FFFFFF;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList tr.even {
  background-color: #FFFFFF;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Row_cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Row_cell_3 .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Row_cell_3 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Row_cell_3 {
  width: 575.0px;
  height: 1.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Row_cell_3 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Row_cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Row_cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Row_cell_4 .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Row_cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 0.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Row_cell_4 {
  width: 575.0px;
  height: 100.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Row_cell_4 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_11 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_11 input::-moz-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_11 input:-moz-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_11 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_11 {
  position: absolute;
  width: 245.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_11 .valign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_11 input {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 13.0pt;
  line-height: 17px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_12 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_12 input::-moz-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_12 input:-moz-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_12 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_12 {
  position: absolute;
  width: 245.0px;
  height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_12 .valign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_12 input {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 17px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_13 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_13 input::-moz-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_13 input:-moz-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_13 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_13 {
  position: absolute;
  width: 74.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_13 .valign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_13 input {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 13.0pt;
  line-height: 17px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Input_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-copy_1 {
  position: absolute;
  width: 13.0px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-copy_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-copy_1 .valign {
  vertical-align: top;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-copy_1 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 13.0pt;
  line-height: 25px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-copy_1 span#rtr-t-copy_1_0 {
  color: #585858;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 13.0pt;
  line-height: 25px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Image_7 {
  position: absolute;
  width: 71.0px;
  height: 71.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a .t-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a .t-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a .t-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a .t-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Category_1 {
  position: absolute;
  width: 56.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  vertical-align: middle;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Category_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Category_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Category_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Path_1 {
  position: absolute;
  width: 2.0px;
  height: 49.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-productList .t-Image_11 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-totalCost {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 {
  width: 140.0px;
  height: 24.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 .Panel_2 > * {
  margin-left: 1px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 .Panel_2 > *:first-child {
  margin-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_2 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 .valign {
  vertical-align: top;
  text-align: right;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 span {
  color: #5527FE;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 span#rtr-t-Text_1_0 {
  color: #5527FE;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 .valign {
  vertical-align: top;
  text-align: right;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 span {
  color: #5527FE;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 span#rtr-t-Text_2_0 {
  color: #5527FE;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Subtotal_1 {
  position: absolute;
  width: 98.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt700',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Subtotal_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Subtotal_1 .valign {
  vertical-align: top;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Subtotal_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Subtotal_1 span#rtr-t-Subtotal_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 12.0pt;
}
 div.relativeLayoutWrapper.t-tilSubtotal {
  transform: translate(-36.0px, -196.0px);
  width: 573.0px;
  height: 25.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_6 {
  width: 234.0px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_6 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_6 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(90.0deg, #A378FF 0.001%, #7D5FFF 100.0%);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_6 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_6 .paddingLayer {
  padding-top: 10px;
  padding-right: 9px;
  padding-bottom: 6px;
  padding-left: 9px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Button_6 span#rtr-t-Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}