#s-14076d24-bea1-496b-a28b-dd4f95f3146b > #backgroundBox {
  position: absolute;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1366.0px;
  max-height: 768.0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Button_2 {
  position: absolute;
  width: 187.0px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(90.0deg, #A378FF 0.001%, #7D5FFF 100.0%);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Button_2 .paddingLayer {
  padding-top: 10px;
  padding-right: 9px;
  padding-bottom: 6px;
  padding-left: 9px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost {
  position: absolute;
  width: 20.999999999998863px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 20.0pt;
  line-height: 38px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost span#rtr-s-Cost_0 {
  color: #585858;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 20.0pt;
  line-height: 38px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost_1 {
  position: absolute;
  width: 106.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost_1 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 20.0pt;
  line-height: 38px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Cost_1 span#rtr-s-Cost_1_0 {
  color: #585858;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 20.0pt;
  line-height: 38px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OPTIONALEXPRESS_DEL {
  position: absolute;
  width: 181.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OPTIONALEXPRESS_DEL .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OPTIONALEXPRESS_DEL .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OPTIONALEXPRESS_DEL span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OPTIONALEXPRESS_DEL span#rtr-s-OPTIONALEXPRESS_DEL_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-calendarIcon {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Line_2 {
  position: absolute;
  width: 2.0px;
  height: 32.0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-greenShipping .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-greenShipping .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-greenShipping {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-greenShipping {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-greenShipping > .backgroundLayer > .colorLayer {
  background-color: #6ACA25;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-greenShipping .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-greenShipping span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-greenShipping span#rtr-s-greenShipping_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Shipping_Cost {
  position: absolute;
  width: 50.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt700',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Shipping_Cost .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Shipping_Cost .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Shipping_Cost span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 10.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Shipping_Cost span#rtr-s-Shipping_Cost_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt700',Arial;
  font-size: 10.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Date div.firer, #s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Date div.shapewrapper {
  transform: translate(614.2360000610354px, 108.49999999999997px);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Get_it_by_1 {
  position: absolute;
  width: 60.0px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Get_it_by_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Get_it_by_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Get_it_by_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Get_it_by_1 span#rtr-mi-9f9b0ecf-Get_it_by_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_1 span#rtr-mi-9f9b0ecf-Text_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_2 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_2 span#rtr-mi-9f9b0ecf-Text_2_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_3 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #mi-9f9b0ecf-Text_3 span#rtr-mi-9f9b0ecf-Text_3_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Get_it_by {
  position: absolute;
  width: 64.99999999999989px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Get_it_by .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Get_it_by .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Get_it_by span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Get_it_by span#rtr-s-Get_it_by_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Thor {
  position: absolute;
  width: 270.0px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Thor .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Thor .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Thor span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 14.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Thor span#rtr-s-Thor_0 {
  color: #585858;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 14.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OverEar_Wireless_Bl {
  position: absolute;
  width: 313.0px;
  min-height: 136.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Light_wgt300',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OverEar_Wireless_Bl .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OverEar_Wireless_Bl .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OverEar_Wireless_Bl span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 11.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-OverEar_Wireless_Bl span#rtr-s-OverEar_Wireless_Bl_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 11.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-topLine {
  position: absolute;
  width: 1025.0px;
  height: 3.0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image {
  position: absolute;
  width: 172.0px;
  height: 144.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_1 {
  position: absolute;
  width: 164.99999999999972px;
  height: 144.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_2 {
  position: absolute;
  width: 172.0px;
  height: 144.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_1 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_2 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_4 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-whiteSlider {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_1 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_1 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product {
  position: absolute;
  width: 451.0px;
  height: 418.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_2 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_2 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Image_6 {
  position: absolute;
  width: 451.0px;
  height: 399.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_3 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_3 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Image_1 {
  position: absolute;
  width: 451.0px;
  height: 398.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-arrowGoRight {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-arrowGoLeft {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_4 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_3 {
  position: absolute;
  width: 878.0px;
  height: 682.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_3 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_2 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_2 {
  position: absolute;
  width: 913.0px;
  height: 608.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_2 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_1 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_1 {
  position: absolute;
  width: 656.0px;
  height: 656.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_1 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_3 {
  position: absolute;
  width: 130.0px;
  height: 88.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_4 {
  position: absolute;
  width: 110.0px;
  height: 111.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_5 {
  position: absolute;
  width: 165.0px;
  height: 132.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_3 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_5 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_6 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_6 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-greySlider {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_4 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_4 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_4 {
  position: absolute;
  width: 419.0px;
  height: 418.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_5 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_5 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Image_7 {
  position: absolute;
  width: 498.0px;
  height: 332.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_6 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_6 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_6 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Image_2 {
  position: absolute;
  width: 493.0px;
  height: 382.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-arrowGoRight_1 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-arrowGoLeft_1 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-pinchIcon_1 {
  position: absolute;
  width: 23.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_5 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_5 {
  position: absolute;
  width: 878.0px;
  height: 682.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_4 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_6 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_6 {
  position: absolute;
  width: 913.0px;
  height: 608.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_5 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_7 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_7 {
  position: absolute;
  width: 656.0px;
  height: 656.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_6 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_6 {
  position: absolute;
  width: 130.0px;
  height: 88.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_7 {
  position: absolute;
  width: 110.0px;
  height: 111.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_8 {
  position: absolute;
  width: 165.0px;
  height: 132.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_7 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_7 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_8 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_9 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_9 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-blackSlider {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_7 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_7 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_7 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_8 {
  position: absolute;
  width: 419.0px;
  height: 418.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_8 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_8 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_8 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Image_8 {
  position: absolute;
  width: 498.0px;
  height: 332.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_9 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_9 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_9 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Image_3 {
  position: absolute;
  width: 493.0px;
  height: 382.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-arrowGoRight_2 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-arrowGoLeft_2 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-pinchIcon_2 {
  position: absolute;
  width: 23.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_8 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_9 {
  position: absolute;
  width: 878.0px;
  height: 682.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_7 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_9 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_10 {
  position: absolute;
  width: 913.0px;
  height: 608.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_8 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_10 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_11 {
  position: absolute;
  width: 656.0px;
  height: 656.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_9 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_9 {
  position: absolute;
  width: 130.0px;
  height: 88.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_10 {
  position: absolute;
  width: 110.0px;
  height: 111.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-image_11 {
  position: absolute;
  width: 165.0px;
  height: 132.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_10 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_10 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_10 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_10 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_11 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_11 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_12 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_12 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_12 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Ellipse_12 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_12 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-purpleSlider {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_10 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_10 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_10 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_12 {
  position: absolute;
  width: 419.0px;
  height: 418.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_11 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_11 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_11 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Image_9 {
  position: absolute;
  width: 498.0px;
  height: 332.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_12 {
  width: 519.0px;
  height: 399.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_12 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_12 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-img_12 .verticalalign {
  vertical-align: top;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Image_4 {
  position: absolute;
  width: 493.0px;
  height: 382.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-arrowGoRight_3 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-arrowGoLeft_3 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-pinchIcon_3 {
  position: absolute;
  width: 23.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_11 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_13 {
  position: absolute;
  width: 878.0px;
  height: 682.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_10 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_12 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_14 {
  position: absolute;
  width: 913.0px;
  height: 608.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_11 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_13 {
  position: absolute;
  width: 1024.0px;
  min-height: 696.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-product_15 {
  position: absolute;
  width: 656.0px;
  height: 656.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-xClose_12 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_3 {
  position: absolute;
  width: 343.00000000000045px;
  min-height: 185.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F4F4F4;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_3 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #F4F4F4;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F4F4F4;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #F4F4F4;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 {
  position: absolute;
  width: 343.0000000000007px;
  min-height: 391.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Light_wgt300',Arial;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 11.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 11.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.0pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 9.75pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
  font-size: 9.75pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 span#rtr-s-Paragraph_1_4 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 9.75pt;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b #s-Paragraph_1 span#rtr-s-Paragraph_1_5 {
  color: #535353;
  text-decoration: none;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
  font-size: 9.75pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-14076d24-bea1-496b-a28b-dd4f95f3146b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}