#s-567e87e5-d40a-4587-9d00-43a32be09394 > #backgroundBox {
  position: absolute;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 > #alignmentBox {
  position: relative;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Panel_1 {
  width: 1366.0px;
  height: 800.3551901022404px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_1 {
  position: absolute;
  width: 617.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  opacity: 1.0;
  background-image: url('../../images/5c9626f3-45d9-4300-bb8a-70e4232072dd.jpg');
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_1 {
  position: absolute;
  width: 180.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px #D9D9D9);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_1 > .backgroundLayer > .colorLayer {
  background-color: #3FB1EE;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #3FB1EE;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #3FB1EE;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #3FB1EE;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #3FB1EE;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_1 .paddingLayer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_2 {
  position: absolute;
  width: 180.0px;
  min-height: 45.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_2 .paddingLayer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 10.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 10.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Image_1 {
  position: absolute;
  width: 10.0px;
  height: 9.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_2 {
  position: absolute;
  width: 18.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_2 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #CACACA;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #CACACA;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #CACACA;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #CACACA;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_3 span {
  color: #4F4F4F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #4F4F4F;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #777777;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_3 span#rtr-s-Paragraph_3_2 {
  color: #3FB1EE;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_3 {
  position: absolute;
  width: 366.0px;
  min-height: 42.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_4 span {
  color: #DC3545;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #DC3545;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_5 span {
  color: #4F4F4F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #4F4F4F;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Category_1 {
  position: absolute;
  width: 359.99999999999966px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #2B2B2B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 17px;
  vertical-align: middle;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Category_1 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_4 {
  position: absolute;
  width: 366.0px;
  min-height: 54.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_6 span {
  color: #DC3545;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #DC3545;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_7 span {
  color: #4F4F4F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #4F4F4F;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_1 input::-webkit-input-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_1 input::-moz-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_1 input:-moz-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_1 input:-ms-input-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_1 {
  position: absolute;
  width: 360.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_1 input {
  color: #2B2B2B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 17px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_1 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_5 {
  position: absolute;
  width: 366.0px;
  min-height: 54.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_8 span {
  color: #DC3545;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #DC3545;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_9 span {
  color: #4F4F4F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #4F4F4F;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_2 input::-webkit-input-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_2 input::-moz-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_2 input:-moz-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_2 input:-ms-input-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_2 {
  position: absolute;
  width: 360.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_2 input {
  color: #2B2B2B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 17px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_2 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_6 {
  position: absolute;
  width: 366.0px;
  min-height: 54.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_10 span {
  color: #DC3545;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #DC3545;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_11 span {
  color: #4F4F4F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #4F4F4F;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_3 input::-webkit-input-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_3 input::-moz-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_3 input:-moz-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_3 input:-ms-input-placeholder {
  color: #999999;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_3 {
  position: absolute;
  width: 360.00000000000017px;
  height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_3 input {
  color: #2B2B2B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 17px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_3 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_12 {
  position: absolute;
  width: 336.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Light_wgt300',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_12 span {
  color: #4F4F4F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 11.5pt;
  line-height: 24px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #4F4F4F;
  text-decoration: none;
  font-family: 'Montserrat-Light_wgt300',Arial;
  font-size: 11.5pt;
  line-height: 24px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_13 {
  position: absolute;
  width: 259.0px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_13 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 21.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 21.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Image_2 {
  position: absolute;
  width: 882.3466796874992px;
  height: 931.0000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_7 {
  position: absolute;
  width: 100.00000000000003%;
  min-height: 98.31121833534378%;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 {
  position: absolute;
  width: 629.9999999999995px;
  min-height: 176.96019300361877px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 9px #EFEFEF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 .paddingLayer {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
  font-size: 11.0pt;
  line-height: 24px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
  font-size: 11.0pt;
  line-height: 24px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Rectangle_8 span#rtr-s-Rectangle_8_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 24px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_14 {
  position: absolute;
  width: 180.0px;
  min-height: 44.24004825090486px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px #D9D9D9);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_14 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_14 > .backgroundLayer > .colorLayer {
  background-color: #3FB1EE;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_14 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #3FB1EE;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #3FB1EE;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #3FB1EE;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #3FB1EE;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_14 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_14 .paddingLayer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 10.0pt;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 10.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-567e87e5-d40a-4587-9d00-43a32be09394 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}