#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 > #backgroundBox {
  background-color: #F6F7F8;
  position: absolute;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 > #alignmentBox {
  position: relative;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_3 {
  position: absolute;
  width: 1287.0px;
  min-height: 788.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_1 {
  position: absolute;
  width: 652.0px;
  min-height: 789.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/a77065a9-8a8e-4686-a7d9-2ac4bad0f5fc.png');
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Polygon_1 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Image_1 {
  position: absolute;
  width: 871.9999999999993px;
  height: 789.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Path_1 {
  position: absolute;
  width: 24.799999237060547px;
  height: 28.644962310791016px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_8 {
  position: absolute;
  width: 122.5px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_8 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: right;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_2 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #1877F2;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 input::-webkit-input-placeholder {
  color: #666666;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 input::-moz-placeholder {
  color: #666666;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 input:-moz-placeholder {
  color: #666666;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 input:-ms-input-placeholder {
  color: #666666;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_4 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_4 {
  position: absolute;
  width: 80.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 input::-webkit-input-placeholder {
  color: #434343;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 input::-moz-placeholder {
  color: #434343;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 input:-moz-placeholder {
  color: #434343;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 input:-ms-input-placeholder {
  color: #434343;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 17px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_5 .paddingLayer {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Path_7 {
  position: absolute;
  width: 19.5px;
  height: 13.2916259765625px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_6 {
  position: absolute;
  width: 83.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_9 {
  position: absolute;
  width: 120.9999999999998px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../images/95c6ad49-d35a-4aba-b671-1c273f128eea.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../images/fffb2825-a5e9-4c46-b579-b3b952579f06.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Input_1 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Button_2 {
  position: absolute;
  width: 148.0000000000001px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1877F2;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Button_2 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #1877F2;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #1877F2;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #1877F2;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #1877F2;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Button_2 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_1 {
  position: absolute;
  width: 296.5px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_1 span {
  color: #31333C;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7ab51cc7-2f32-40b2-afc2-c986938d6ed6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}